* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}


.without-spacing-footer footer {
  margin: 30px 0px 0px 0px;
}

.color-li {
  color: #993CBA;
}

.general {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: left;
  padding: 20px 0px 20px 0px;
  font-weight: 100;
  color: #4A4A4A;
  margin: 0;
}

textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #4A4A4A;
}

#submenu-footer {
  color: #636363;
}

.text-legal {
  font-size: 20px;
  padding: 0px 75px;
}

.content .general-black {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-weight: 100;
  color: #4A4A4A;
  margin: 0;
}

h1 {
  font-size: 35px;
  color: #993CBA;
  font-weight: normal;
}

.general a span:hover {
  color: rgb(158, 0, 255);
}

@media only screen and (max-width: 768px) {
  .text-legal {
    padding: 0px 20px;
  }
  h1 {
    font-size: 35px;
    color: #993CBA;
    font-weight: 500;
  }
}

h3 {
  color: #993CBA;
}

span {
  color: #993CBA;
  font-weight: bolder;
}

header {
  position: fixed;
  display: block;
  background: #ffffff;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  border-bottom: 2px solid #993CBA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.56);
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: flex;
    background: #ffffff;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    margin: 0 auto;
    border-bottom: 2px solid #993CBA;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.56);
  }
}

/* MENU MOBILE */
.container {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  z-index: 4;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #993CBA;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 4px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* MOBILE */
@media only screen and (min-width: 768px) {
  .container {
    display: none;
    cursor: pointer;
    margin: 10px;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.73);
}

.submenu-mobile {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
  color: rgba(144, 144, 144, 0.56);
}

.sidenav .submenu-mobile a {
  color: rgba(144, 144, 144, 0.79);
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  display: block;
  transition: 0.3s;
  border-top: .1px solid rgb(176, 88, 251);
}

.fondo {
  border-bottom: .1px solid rgb(176, 88, 251);
}

.sidenav a:hover {
  color: #993CBA;
}

#social-mobile-menu {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  /* justify-content: center; */
  margin: 8px 0px 0px 0px;
  padding-right: 0px;
}

#social-mobile-menu img {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

#social-mobile-menu a {
  border-top: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* TERMINA MENU MOBILE */
.social {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 0px 0px 0px;
  padding-right: 50px;
}

@media only screen and (max-width: 768px) {
  .social {
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin: 8px 0px 0px 0px;
    padding-right: 50px;
    /* margin: 0; */
    align-items: center;
  }
}

b {
  font-weight: bold;
}

#bold-menu {
  font-weight: bold;
}

#space-title {
  font-weight: lighter;
  letter-spacing: 2px;
}

#Siguenos {
  text-align: right;
  padding: 5px 5px 5px 0px;
  margin: 0px;
  color: #FF9E1A;
  align-self: center;
  font-size: 11px;
}

.icons-size {
  padding: 5px 5px 0px 5px;
  margin: 0;
  cursor: pointer;
}

.logo-menu {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  align-items: center;
  -webkit-align-items: center;
  /* width: 100%; */
  flex-direction: row;
  /* justify-content: flex-start; */
  color: #993CBA;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

.logo-menu p {
  margin: 0;
}

#logo {
  margin: 0px 5px 0px 0px;
}

@media only screen and (max-width: 768px) {
  .logo-menu {
    display: block;
    display: -webkit-block;
    /* Safari */
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    flex-direction: row;
    /* justify-content: flex-start; */
    color: #993CBA;
    /* padding-left: 105px; */
    padding-right: 80px;
    text-align: center;
  }

  #Siguenos {
    text-align: right;
    padding: 5px 5px 5px 0px;
    margin: 1px;
    color: #FF9E1A;
  }
}

#slogan {
  width: 25%;
  margin: 0;
}

#store-icons {
  position: fixed;
  display: inline-block;
  max-width: 100%;
  margin: 110px 50px 0px 0px;
  z-index: 1;
  top: 0;
  right: 0;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  #slogan {
    display: none;
    width: 100%;
  }

  #store-icons {
    position: fixed;
    display: none;
    max-width: 100%;
    margin: 7% 50px 0px 0px;
    z-index: 1;
    top: 0;
    right: 0;
    text-align: right;
  }
}

.small-icon {
  cursor: pointer;
}

/* Empieza el Menu y submenus */
.menu {
  display: flex;
  width: 100%;
  /* padding: 10px 0px 10px 0px; */
  font-size: 15px;
  text-align: right;
  text-align: -webkit-right;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
    width: 100%;
    /* padding: 10px 0px 10px 0px; */
    font-size: 20px;
    text-align: right;
    text-align: -webkit-right;
    list-style: none;
    flex-direction: row;
    justify-content: center;
  }
}

.menu ul {
  position: relative;
  display: flex;
  flex: auto;
  padding: 0;
  justify-content: flex-end;
  margin: 0;
}

.menu li {
  position: relative;
  display: flex;
  padding: 0px 20px;
}

.menu ul li ul {
  display: none;
  text-align: right;
  list-style: none;
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
}

.menu ul li:hover ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: right;
}

.submenu {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.67);
}

.submenu li {
  background: rgb(255, 255, 255);
  text-align: center;
  border-top: .02px solid #993CBA;
}

.submenu a {
  text-decoration: none;
  padding: 8px 0px 8px 0px;
  color: rgb(113, 113, 113);
}

#ultimate-li {
  padding: 0px 5px 0px 0px;
}

.point {
  font-weight: 900;
  /* padding: 0px 10px 0px 0px; */
}

.text-menu {
  /* padding: 0px 10px 0px 0px; */
  color: #4A4A4A;
  text-decoration: none;
}

.contacto {
  color: #4A4A4A;
  text-decoration: none;
}

/* Empieza primer modulo 1*/
.module-1 {
  display: flex;
  flex-direction: row;
  /* -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  margin: 11% 0% 0% 0%;
  justify-content: center;
  /* width: 100%; */
  align-content: center;
  padding: 0% 5%;
}

@media only screen and (max-width: 768px) {
  .module-1 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 16% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
  }
}

.left-home {
  display: block;
  padding: 0px 0px 0px 0px;
  width: 70%;
  text-align: left;
}

.left-home h1 {
  display: block;
  padding: 0px 0px 0px 0px;
  width: 100%;
  text-align: left;
}

.img-right-index {
  display: block;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .left-home {
    display: block;
    padding: 0px 0px 0px 0px;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    padding: 100px 0px 0px 0px;
    width: 100%:
  }
}

.general-button {
  background: #ffffff;
  font-size: 17px;
  font-weight: 600;
  border-radius: 19px;
  border: 1.5px solid #993CBA;
  /* border-color: #993CBA; */
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.26);
  padding: 15px 35px;
  margin: 5% 0%;
  color: #993CBA;
  cursor: pointer;
}

/* EMPIEZA MODAL VIDEO */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

.modal-content iframe {
  width: 100%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* TERMINA MODAL VIDEO  */
#button-desktop {
  display: block;
}

#button-mobile {
  display: none;
}

#mobile-index {
  display: none;
}

@media only screen and (max-width: 768px) {
  #button-mobile {
    display: block;
  }

  #button-desktop {
    display: none;
  }

  #mobile-index {
    display: block;
  }
}

.img-right-index {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 0px 0px;
  margin: 15% 0%;
}

#apple {
  padding: 0px 20px 0px 0px;
}

#icons-mobile {
  display: none;
  flex-wrap: wrap;
  padding: 50px 0px 0px 0px;
}

@media only screen and (max-width: 768px) {
  .img-right {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0px;
  }

  #desk {
    display: none;
  }

  #mobile {
    display: block;
  }

  #icons {
    display: none;
    flex-wrap: wrap;
    padding: 50px 0px 0px 0px;
  }

  #icons-mobile {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
  }
}

.list-services {
  display: none;
}

@media only screen and (max-width: 768px) {
  .list-services {
    display: block;
    /* flex-direction: row; */
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  .list-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
    align-content: center;
  }

  .list-elements img {
    display: flex;
    width: 10%;
    height: 10%;
    margin: 5px;
    align-self: center;
  }

  .list-elements p {
    width: 100%;
    flex: 1;
    align-content: center;
    color: #4A4A4A;
  }
}

/* EMPIEZA MODULO 2 */
.module-2 {
  background-image: url(/img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 90px 0px 0px 0px;
  flex-direction: column;
  color: white;
}

.content h1 {
  text-align: center;
  color: white;
  margin: 50px 0px 0px 0px;
}

.content p {
  text-align: center;
  color: white;
  padding: 0;
}

.general-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  text-align: center;
  align-items: center;
  align-self: center;
  max-width: 1024px;
}

.products {
  display: flex;
  /* width: 10%; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 30px;
  /* margin: 20px 20px; */
  flex: 1;
}

.general-icons-posibilities {
  display: flex;
  max-width: 1024px;
  padding: 5px;
  /* margin: 10px; */
  align-self: center;
}

.general-icons-desktop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  text-align: center;
  align-items: center;
  align-self: center;
  max-width: 1024px;
}

@media only screen and (max-width: 768px) {
  .products {
    display: block;
    /* width: 10%; */
    margin: 0;
    padding: 0;
  }

  .general-icons-desktop {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    text-align: center;
    align-items: center;
    align-self: center;
    max-width: 1024px;
  }
}

.products p {
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .module-2 {
    background-image: url(/img/font-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 90px 0px 0px 0px;
    flex-direction: column;
    color: white;
  }
}

/* EMPIEZA MODULO 3 */
.module-3 {
  display: flex;
  justify-content: flex-start;
  margin: 20px 70px 50px 70px;
  align-content: center;
}

.left-1 {
  padding: 20px 0px 0px 0px;
  width: 100%
}

.comercial-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  width: 100%;
}

.comercial-icons-mobile {
  display: none;
}

.logotypes {
  padding: 6%;
}

@media only screen and (max-width: 768px) {
  .module-3 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
  }

  .module-3 .left-home p br {
    display: none;
  }

  .module-3 .left-home p {
    text-align: left;
  }

  .comercial-icons {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5% 5%;
    width: 100%;
  }

  .comercial-icons-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    width: 100%;
  }

  .logotypes {
    padding: 1%;
  }
}

/* EMPIEZA MODULO 4 */
.module-4 {
  display: flex;
  justify-content: center;
  /* margin: 90px 0px 0px 0px; */
  flex-direction: column;
}

.content-1 {
  background: #F6F6F6;
}

.content-1 h1 {
  text-align: center;
}

.content-1 p {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .content-1 p {
    text-align: left;
    padding: 15px;
  }
}

/* SEGUNDA SECCION MODULO 4 GALERIA */
#gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex: 2;
}

#image-content-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#unique {
  width: 100%;
  height: 97.5%;
}

.image-content-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.slideshow-container {
  display: none;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow-container-2 {
  display: none;
  max-width: 100%;
  position: absolute;
  margin: 250px auto;
}

.hover {
  position: relative;
  margin: 3px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(153, 60, 186, 0.7);
}

.hover:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
  font-weight: 400;
}

.white-subtitles {
  color: #ffffff;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #gallery {
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex: 2;
  }

  /* Slideshow container */
  .slideshow-container {
    display: block;
    max-width: 100%;
    position: absolute;
    margin: 470px auto;
  }

  .slideshow-container-telefonia {
    display: block;
    max-width: 100%;
    margin: 0px auto;
  }

  .slideshow-container-2 {
    display: block;
    max-width: 100%;
    position: absolute;
    margin: 250px auto;
  }

  .button-center {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .slideshow-container .general-button {
    text-align: center;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }
}

/* TERMINA CUARTO MODULO */
/* EMPIEZA SECCION 5 */
.module-5 {
  display: block;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  flex-direction: column;
}

.left-justify {
  position: absolute;
  background: #FF9E1A;
  width: 50%;
  padding: 0px 0px 0px 100px;
  margin: 0px 0px 60px 0px;
  text-align: center;
}

.left-justify h1 {
  color: white;
  text-align: left;
  margin: 10px 0px;
}

.left-justify h3 {
  color: white;
  text-align: left;
  margin: 0;
  padding: 0px 0px 0px 45px;
}

.left-justify p {
  color: white;
  text-align: left;
  width: 75%;
  padding: 20px 0px 10px 45px;
}

.white-30 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.left-justify-1 a {
  text-align: center;
  text-align: -moz-center;
}

.left-justify a {
  color: white;
  text-align: center;
  text-align: -moz-center;
  width: 60%;
}

.left-justify-1 {
  position: absolute;
  background: #993CBA;
  width: 50%;
  padding: 50px 0px 50px 100px;
  margin: 0px 0px 60px 0px;
  color: white;
}

.left-justify-1 h1 {
  color: white;
}

.left-justify-1 p {
  color: white;
  padding: 20px 0px 10px 45px;
}

#subtitles-white {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

.content-slider-general {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}

.content-slider {
  background: #ffffff;
  display: block;
  width: 15%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 30px 10px;
  margin: 60px 30px;
  z-index: 0;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.22);
  align-items: center;
  align-self: center;
  height: 360px;
}

.content-slider p {
  text-align: center;
}

.content-slider img {
  text-align: center;
}

.general-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: justify;
  padding: 20px 0px 20px 0px;
  font-weight: 100;
}

.mySlides1 {
  width: 100%;
  justify-content: center;
  height: 365px;
}

.mySlides2 {
  width: 100%;
  justify-content: center;
  min-height: 365px;
}

.mySlides3 {
  width: 100%;
  justify-content: center;
}

#mobilebutton {
  display: none;
}

#desktopbutton {
  display: block;
}

@media only screen and (max-width: 768px) {
  .module-5 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 5% 0% 350px 0%;
    justify-content: center;
    padding: 0% 0%;
  }

  .left-justify-1 p {
    color: white;
    padding: 20px 0px 10px 0px;
  }

  #subtitles-white {
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }

  .left-justify p {
    color: white;
    text-align: left;
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

  .left-justify h3 {
    color: white;
    text-align: left;
    width: 100%;
    padding: 0px 0px 10px 0px;
  }

  .left-justify-1 h1 {
    color: white;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .left-justify h1 {
    color: white;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  #mobilebutton {
    display: block;
  }

  #desktopbutton {
    display: none;
  }

  .left-justify br {
    display: none;
  }

  /* .services {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
  } */
  .left-justify {
    display: block;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
    background: #FF9E1A;
    width: 100%;
    padding: 20px 10px 50px 10px;
    margin: 0px 0px 60px 0px;
    text-align: center;
    height: 600px;
  }

  .left-justify-1 {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
    background: #993CBA;
    width: 100%;
    padding: 50px 10px 50px 10px;
    margin: 0px 0px 60px 0px;
    text-align: left;
    /* height: 600px; */
  }

  .left-justify-1 br {
    display: none;
  }

  .content-slider {
    background: #ffffff;
    display: block;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 30px;
    margin: 0px 0px;
    z-index: 0;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.22);
    text-align: center;
  }

  .content-slider-general {
    display: none;
  }
}

/* EMPIEZA MODULO 6 */
.module-6 {
  display: flex;
  justify-content: flex-end;
  margin: 100px 0px 0px 0px;
  padding: 0px 100px;
}

.img-left {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 10px;
}

.module-6 .img-left img {
  display: block;
  /* width: 100%; */
}

.img-left-mobile-home {
  display: none
}

.left-mobile-home {
  padding: 100px 0px 0px 0px;
  width: 100%:;
}

.left-mobile-home h1 {
  text-align: left;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .module-6 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 100% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
    background: #F6F6F6;
  }

  .module-6 .img-left img {
    width: 100%;
  }

  /*
  .img-left img {
    width: 100%;
  } */
  .left-mobile-home {
    padding: 20px 0px 0px 0px;
    width: 100%:;
  }

  .module-6 .img-left img {
    display: none;
    /* width: 100%; */
  }

  .img-left-mobile-home {
    display: block;
  }

}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  flex-direction: column;
  width: 100%;
}

.asociation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  flex: 1;
  padding: 20px;
  align-items: center;
}

.asociation h4 {
  color: #9B9B9B;
  margin: 0;
}

.asociation img {
  /* width: 1%; */
  margin: 10px
}

.footer-about {
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* width: 100%; */
  background: #323232;
  color: #9B9B9B;
  justify-content: flex-start;
  text-align: left;
  flex: 1;
  padding: 50px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 3%;
  text-align: left;
}

#newslatter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  padding: 10px 0px 20px 7px;
}

#subcribe-text {
  padding: 10px 4px;
  margin: 0;
}

#button-submit {
  display: inline-block;
  background: #993CBA;
  width: 40px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  min-height: 40px;
}

#button-email {
  max-width: 80%;
  font-size: 20px;
  border: none;
  vertical-align: middle;
  min-height: 40px;
}

#MERGE0 {
  width: 70%;
  font-size: 15px;
  border: none;
  vertical-align: middle;
  min-height: 40px;
}

.footer-below {
  display: flex;
  flex-direction: column;
  background: #4A4A4A;
  color: #9B9B9B;
  font-size: 15px;
  text-align: center;
  padding: 20px 200px 20px 200px;
}

footer div p {
  padding: 20px 8px;
}

footer div pre {
  padding: 20px 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.footer-column a {
  display: block;
  color: #9B9B9B;
  /* flex-direction: column;
  align-items: flex-start; */
  padding: 0px;
  text-align: left;
}

.footer-column a:hover {
  color: #a066ff;
}

@media only screen and (max-width: 768px) {
  .asociation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    flex: 1;
    margin: 10px 0px 10px 0px;
    align-items: center;
  }

  .footer-about {
    display: block;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: #323232;
    color: #9B9B9B;
    justify-content: flex-start;
    text-align: left;
    padding: 10px;
  }

  .footer-column {
    display: block;
    /* flex-direction: column;
    align-items: flex-start; */
    padding: 0px 10px;
    text-align: left;
  }

  .footer-column a {
    display: block;
    color: #9B9B9B;
    /* flex-direction: column;
    align-items: flex-start; */
    padding: 0px;
    text-align: left;
  }

  footer div pre {
    padding: 0px 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }

  footer div p {
    padding: 10px 8px;
  }

  .footer-below {
    display: flex;
    flex-direction: column;
    background: #4A4A4A;
    color: #9B9B9B;
    font-size: 15px;
    text-align: left;
    padding: 0px 0px 0px 0px;
  }

  #social-mobile {
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    justify-content: center;
    margin: 8px 0px 0px 0px;
    padding-right: 0px;
  }

  #button-email {
    min-width: 80%;
    font-size: 20px;
    border: none;
    vertical-align: middle;
    min-height: 40px;
  }
}

/* TERMINA FOOTER */
/* EMPIEZA PAGINA CONTACTO */
.title {
  margin: 150px 70px 0px 70px;
}

.module-contact-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0% 5%;
}

.contact-module {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.contact-module button {
  width: 50%;
}

.contact-module form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact-module form input {
  background: #f0ecec;
  /* background: #ff0000; */
  font-size: 15px;
  padding: 12px 10px 12px 10px;
  border: 0;
  margin: 10px 0px;
  border-radius: 12px;
}

.map iframe {
  width: 600px;
  height: 450px;
}

#comentarios {
  background: #f0ecec;
  /* background: #ff0000; */
  font-size: 15px;
  padding: 12px 10px 150px 10px;
  border: 0;
  margin: 10px 0px;
  border-radius: 12px;
}

.address {
  padding: 1% 0%;
}

.address p {
  font-size: 15px;
  text-align: left;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

#resultado {
  color: black;
  font-size: 20px;
}

.address-mobile {
  display: none;
  padding: 1% 5%;
}

@media only screen and (max-width: 768px) {
  .title {
    margin: 100px 10px 10px 0px;
  }
  .title h1{
    margin: 0;
  }
  .module-contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0% 0%;
  }

  .contact-module {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    width: 100%;
    padding: 0% 5%;
  }

  .contact-module button {
    width: 50%;
  }

  .contact-module form {
    display: flex;
    flex-direction: initial;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-module form input {
    background: #f0ecec;
    /* background: #ff0000; */
    font-size: 15px;
    padding: 12px 10px 12px 10px;
    border: 0;
    margin: 10px 0px;
    border-radius: 12px;
    width: 100%;
  }

  .map {
    padding: 0px;
  }

  .map iframe {
    width: 100%;
  }

  #coments {
    background: #f0ecec;
    /* background: #ff0000; */
    font-size: 15px;
    padding: 12px 10px 150px 10px;
    border: 0;
    margin: 10px 0px;
    border-radius: 12px;
  }

  .address {
    display: none;
  }

  .address-mobile {
    display: block;
    padding: 1% 5%;
  }

  .address-mobile p {
    font-size: 15px;
    text-align: left;
    padding: 0px;
    margin: 5px 0px 0px 0px;
  }
}

/* ------------EMPIEZA TELEFONIA------------ */
.telephone-module-1 {
  background-image: url(/img/Banner.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0% 5%;
  margin: 5% 0%;
}

.telephone-module-1 .left h1 {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin: 0px 0px;
  padding: 0px 0px;
}

.telephone-module-1 .left p {
  color: rgb(255, 255, 255);
  margin: 0px 0px 20px 0px;
}

.telephone-module-1 .left h5 {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 20px;
  margin: 40px 0px 0px 0px;
}

#img-right-mobile {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-width: 20%;
}

.img-right p {
  /* font-size: 15px; */
  align-content: center;
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 100px 0px 20px 0px;
}

.left-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .telephone-module-1 {
    background-image: url(/img/Banner.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0% 5%;
    margin: 60px 0px 0px 0px;
  }

  .left {
    display: none;
  }

  .telephone-module-1 .left h1 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin: 0px 0px;
    padding: 0px 0px;
  }

  .telephone-module-1 .left p {
    color: rgb(255, 255, 255);
    margin: 0px 0px 20px 0px;
  }

  .telephone-module-1 .left h5 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 20px;
    margin: 40px 0px 0px 0px;
  }

  #img-right-mobile {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 3% 0% 0% 0%;
    align-items: center;
  }

  .img-right p img {
    width: 100%;
  }

  .img-right p {
    align-content: center;
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 100px 0px 20px 0px;
  }

  .left-mobile {
    background: #993CBA;
    display: block;
    padding: 1% 5%;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: left;
  }

  .left-mobile h1 {
    background: #993CBA;
    display: block;
    padding: 0% 0%;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: left;
  }

  .left-mobile p {
    text-align: left;
    color: rgb(255, 255, 255);
  }

  #white {
    color: rgb(255, 255, 255);
    font-weight: 800;
  }
}

/* EMPIEZA MODULO 2 TELEFONIA */
.telephone-module-2 {
  display: flex;
  justify-content: center;
  margin: 10px 0px 50px 0px;
  flex-direction: column;
  color: #993CBA;
}

#preguntas {
margin: 80px 0px 0px 0px;
}

#cuestion-padding {
  width: 100%;
}

.telephone-module-2 h1 {
  color: #993CBA;
  margin: 0;
}

.telephone-module-2 p {
  color: #4A4A4A;
  padding: 0;
}

#text-yellow {
  font-size: 30px;
  font-weight: 700;
  color: #F5A623;
}

#mobile {
  display: block;
  padding: 20px;
}

.numeros-grandes {
  /* display: block; */
  font-size: 40px;
  font-weight: bold;
}

.numeros-grandes-mobile {
  display: none;
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .numeros-grandes {
    display: none;
    font-size: 40px;
    font-weight: bold;
  }

  .numeros-grandes-mobile {
    display: block;
    font-size: 40px;
    font-weight: bold;
  }
}

/* EMPIEZA MODULO 3 TELEFONIA */
.telephone-module-3 {
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0% 5%;
  text-align: center;
}

#image img {
  width: 100%
}

.content-mobile {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #image {
    display: none;
    width: 100%
  }

  .content-mobile {
    display: block;
    text-align: center;
    width: 100%;
  }

  .content-mobile p {
    text-align: center;
  }

  .content-mobile h1 {
    text-align: center;
    color: #993CBA;
  }

  .content-mobile img {
    margin: 0% 3%;
  }
}

/* EMPIEZA MODULO 4 TELEFONIA */
.telephone-module-4 {
  display: flex;
  justify-content: flex-start;
  margin: 20px 100px 50px 100px;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#module-center {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 20%;
}

#module-center br {
  display: none;
}

#module-center p, h1, {
  text-align: left;
}

#logo-pegado {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: baseline;
}

#logo-pegado p {
  margin: 0;
}

#titulo-pegado {
  padding: 0px 0px 0px 25px;
}

.slideshow-container-telefonia {
  display: none;
}

@media only screen and (max-width: 768px) {
  .slideshow-container-telefonia {
    display: block;
  }

  .telephone-module-4 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
    width: 100%
  }

  #module-center {
    text-align: center;
    width: 100%;
  }

  #module-center p, h1 {
    text-align: center;
  }
}

#responsive-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 4%;
  width: 100%;
  flex: 1;
}

.logotypes-mobile {
  text-align: center;
  padding: 3% 4%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logotypes-mobile h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.logotypes-mobile p {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #responsive-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 1%;
    width: 100%;
    flex: 1;
  }

  .logotypes-mobile {
    text-align: center;
    padding: 3% 1%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .logotypes-mobile h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .logotypes-mobile p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

/* EMPIEZA MODULO 5 */
.telephone-module-5 {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0px 50px;
  border-top: 0.5px solid #4A4A4A;
  border-bottom: 0.5px solid #4A4A4A;
}

.telephone-module-5 h1 {
  color: #993CBA;
}

#table-desktop {
  color: #4A4A4A;
  width: 100%;
  border-collapse: collapse;
}

#table-desktop tr, td, th {
  border-collapse: collapse;
  border: 1px solid #4A4A4A;
  padding: 10px;
  font-size: 20px;
}

#table-desktop th {
  border-collapse: collapse;
  border: 1px solid #4A4A4A;
  padding: 30px;
  font-size: 20px;
}

#table-desktop thead {
  color: rgb(255, 255, 255);
  background: #F5A623;
}

#table-desktop tfoot {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: #993CBA;
}

.pdf {
  border: none;
  padding: 10px 0px 10px 20px;
}

.border-pdf {
  border: none;
  padding: 10px 0px 10px 0px;
  text-align: left;
}


.font-price {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* EMPIEZA MODULO 7 */
.telephone-module-7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0% 0% 0% 5%;
  text-align: center;
}

#dudas-image {
  display: block;
  width: 100%;
  /* position: absolute; */
}

#dudas-image img {
  width: 100%;
}

#dudas-image-mobile {
  display: none;
  width: 100%;
  /* position: absolute; */
}

#dudas-text {
  display: block;
  position: absolute;
  padding: 0%;
  align-self: center;
}

#dudas-text p {
  font-size: 25px;
  font-weight: 500;
  color: rgb(98, 98, 98);
}

@media only screen and (max-width: 768px) {
  #dudas-text {
    display: block;
    position: absolute;
    padding: 0% 0% 0% 10%;
    width: 60%;
  }

  #dudas-image {
    display: none;
    width: 100%;
    /* position: absolute; */
  }

  #dudas-image-mobile {
    display: block;
    width: 100%;
    /* position: absolute; */
  }

  #dudas-image-mobile img {
    width: 100%;
    /* position: absolute; */
  }

  table {
    display: none;
    color: rgb(147, 147, 147);
    width: 100%;
    border-collapse: collapse;
  }

  #dudas-text p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(98, 98, 98);
    padding: 20% 0%;
    /* margin: 0; */
  }
}

.telephone-module-8 {
  background-color: #F5A623;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  text-align: center;
  flex: 1;
  height: 150px;
}

.telephone-module-8 #icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 0px;
  margin: 0% 0%;
  align-self: center;
  mar
}

.telephone-module-8 #smartphones img {
  /* background-image: url(/img/descarga-telefonia.png);
  background-repeat: no-repeat; */
  align-self: end;
}

#smartphones {
  display: contents;
}

#smart-logo {
  display: block;
  align-self: baseline;
  margin: 1% 0%;
}

#text-center-footer {
  text-align: left;
  align-self: center;
  margin: 0px;
}

#text-center-footer p {
  color: rgb(255, 255, 255);
  align-self: center;
  margin: 0px;
  padding: 0;
  font-weight: 400;
}

#text-center-footer h2 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin: 0px;
  padding: 0;
}

.telephone-module-8-mobile {
  display: none;
}

.icons-mobile-center {
  display: none;
  flex-wrap: wrap;
  padding: 0px 0px 0px 0px;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .telephone-module-8 {
    display: none;
  }

  .telephone-module-8-mobile {
    background-color: #F5A623;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    text-align: center;
    flex: 1;
    height: auto;
    margin: 0px 0px 50px 0px;
    flex-wrap: wrap;
  }

  .telephone-module-8-mobile #icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    margin: 0% 0%;
    align-self: center;
  }

  .telephone-module-8-mobile #smartphones img {
    /* background-image: url(/img/descarga-telefonia.png);
    background-repeat: no-repeat; */
    align-self: end;
    margin: 0% 2%;
  }

  #smartphones {
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 20px;
    text-align: left;
    font-weight: 200;
  }

  #smartphones h3 {
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    color: white;
  }

  #smart-logo {
    display: none;
    align-self: baseline;
    margin: 1% 0%;
  }

  #text-center-footer {
    display: flex;
    text-align: center;
    align-self: center;
    margin: 0px;
  }

  #text-center-footer img {
    margin: 10px;
  }

  .icons-mobile-center {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    justify-content: center;
  }
}

/* -------EMPIEZA TARJETA-------- */
#telefonia-1 {
  background-image: url(/img/banner-dinero.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  padding: 0% 5%;
}

@media only screen and (max-width: 768px) {
  #telefonia-1 {
    background-image: url(/img/banner-dinero.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0% 5%;
    height: 200px;
    margin: 60px 0px 0px 0px;
  }
}

/* MODULO 3 TARJETA */
.module-3-tarjeta-desktop {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
  padding: 0% 5%;
  text-align: center;
  background: #F6F6F6;
  align-items: flex-start;
}

.module-3-tarjeta-desktop p {
  text-align: left;
}

#align-paddind-text {
  margin: 0px 0px 30px 0px;
  padding: 0% 0% 0% 10%;
}

.list-services-desktop {
  display: block;
  padding: 0px 90px;
}

.content-mobile-left {
  display: none;
  text-align: center;
}

.list-elements {
  display: flex;
  text-align: left;
}

.list-elements img {
  display: flex;
  /* width: 10%;
height: 10%; */
  margin: 5px;
  align-self: center;
  width: 32px;
  height: 32px;
}

.list-elements img:last-child {
  display: flex;
  width: 10%;
  height: 10%;
  margin: 5px;
  align-self: center;
}

.text-right {
  width: 100%;
  text-align: left;
  padding: 30px 0px;
}

.text-right h1 {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .module-3-tarjeta-desktop {
    display: none;
    justify-content: center;
    margin: 50px 150px 0px 150px;
    background: #F6F6F6;
  }

  .content-mobile-left {
    display: block;
    text-align: center;
  }

  .content-mobile-left p {
    display: block;
    text-align: center;
  }

  .content-mobile-left .list-services p {
    text-align: left;
  }

  .list-elements pre {
    align-content: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }

  .content-mobile-left #resize-image {
    width: 100%;
  }
}

/* Modulo 4 tarjeta  */
#module-center-tarjeta {
  text-align: left;
  width: 30%;
}

#module-center-tarjeta h2 {
  color: #993CBA;
  text-align: left;
  /* width: 20%; */
  padding: 0px 53px;
  margin: 0;
}

#module-center-tarjeta p {
  text-align: left;
}

.flex-title {
  display: flex;
  /* align-items: baseline; */
}

.flex-title p {
  margin: 0;
}

.flex-title h1 {
  margin: 0;
}

#titulo-pegado-mas {
  padding: 0px 0px 0px 50px;
}

@media only screen and (max-width: 768px) {
  #module-center-tarjeta {
    text-align: center;
    width: 100%;
    margin: 10% 0%;
  }

  #titulo-pegado-mas {
    padding: 0px 0px 0px 0px;
  }

  #module-center-tarjeta h2 {
    color: #993CBA;
    text-align: center;
    /* width: 20%; */
    padding: 0px 40px;
    margin: 0;
  }

  #module-center-tarjeta p {
    text-align: center;
  }
}

/* MODULO 5 TARJETA */
.module-5-tarjeta-desktop {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
  padding: 0% 5%;
  text-align: center;
  background: #F6F6F6;
}

#envia {
  margin: 20px;
  align-self: center;
}

#end-position {
  align-self: flex-end;
}

#flex-title-mobile {
  display: flex;
}

#flex-title-mobile-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .module-5-tarjeta-desktop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 20px 0px 50px 0px;
    padding: 0% 5%;
    text-align: center;
    background: #F6F6F6;
  }

  #envia {
    margin: 0px;
    padding: 0;
  }

  #envia p {
    text-align: center;
  }

  .img-right #end-position {
    display: none;
  }

  #flex-title-mobile {
    display: none;
  }

  #flex-title-mobile-icon {
    display: block;
  }
}

.center {
  text-align: center;
}

/* EMPIEZA GANA DINERO  */
#telefonia-2 {
  background-image: url(/img/Banner-ganar.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  padding: 0% 5%;
}

#dinero-orange {
  background: #F5A623;
}

#dinero-orange h1 {
  background: #F5A623;
}

@media only screen and (max-width: 768px) {
  #telefonia-2 {
    background-image: url(/img/Banner-ganar.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    padding: 0% 5%;
    height: 200px;
    margin: 60px 0px 0px 0px;
  }
}

/* EMPIEZA MODULO 2 GANAR  */
#mobile-ganar {
  display: block;
  padding: 70px;
}

#mobile-about {
  display: flex;
  padding: 20px 50px;
  align-self: baseline;
}

#text-yellow-ganar {
  font-size: 20px;
  font-weight: 700;
  color: #F5A623;
}

#goals {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  text-align: center;
  align-items: normal;
  align-self: center;
  max-width: 1024px;
  width: 100%;
}

/* EMPIEZA QUE ES MIIO */
#about {
  background-image: url(/img/Banner-about.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  padding: 0% 5%;
}

#version-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #about {
    background-image: url(/img/Banner-about.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    padding: 0% 5%;
    height: 200px;
  }
  #version-mobile {
    display: block;;
  }

  #mobile-ganar {
    display: block;
    padding: 20px;
  }

  #mobile-ganar {
    padding: 10;
  }

  #mobile-about {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
  }
}

#vision {
  display: block;
  padding: 20px;
  max-width: 400px;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin: 30px 0px;
}

#vision p {
  padding: 20px;
}

#orangen-title {
  color: #F5A623;
}

@media only screen and (max-width: 768px) {
  #goals {
    display: block;
  }
}

/* EMPIEZA PREGUNTAS FRECUENTES */
#mobile-answers {
  padding: 20px;
  flex-direction: column;
}

/* EMPIEZA MODULO 2 PREGUNTAS */
/* EMPIEZA DESPLEGABLES */
.cuestions {
  margin: 20px 150px;
}

#subtitle-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  color: #444;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  border-radius: 10px;
  margin: 5px 0px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion p {
padding: 0px 50px 0px 0px;
margin: 0;
}

.accordion:after {
  content: '\232A';
  color: #993CBA;
  font-weight: lighter;
  float: right;
  margin-left: 5px;
  transform: rotate(90deg);
}

.active:after {
  content: "\2329";
  transform: rotate(90deg);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 768px) {
  .cuestions {
    margin: 20px 0px;
  }

  #answers-about {
    width: 100%;
    padding: 20px;
  }

  #subtitle-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
  }
}

/* TERMINA ACORDEON */
/* image slider css */
/* Authored by Boaz James Otieno */
#slider-main {
  width: 100%;
  overflow: hidden;
}

.img-slide {
  width: 100%;
  overflow-y: hidden;
}

#prev {
  z-index: 1;
  color: #ffffff;
  position: absolute;
  background: transparent;
  border: none;
  margin-top: 40vh;
  margin-left: 3%;
  font-size: 60px !important;
}

#next {
  color: #ffffff;
  position: absolute;
  z-index: 1;
  background: transparent;
  border: none;
  margin-top: -60vh;
  margin-left: 93.5%;
  font-size: 60px !important;
}

.circle {
  border: #993CBA 1px solid;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

#circles {
  /* margin-top: -15vh; */
  /* margin-left: 48.6%; */
  position: block;
  z-index: 5;
  text-align: center;
}

.testimonios {
  display: none;
}

@media only screen and (max-width: 768px) {
  .testimonios {
    display: block;
  }
}

/* .image-animated{
    animation: animateImage 5s ease-in-out;
} */
@keyframes animateImage {
  0% {
    opacity: .2;
    transform: scale(1.2, 1.2);
  }

  20% {
    opacity: 1;
    transform: scale(1, 1);
  }

  80% {
    opacity: 1;
    transform: scale(1, 1);
  }

  95% {
    opacity: .8;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .8;
    transform: scale(1.2, 1.2);
  }
}

@media only screen and (max-width: 768px) {
  #prev {
    font-size: 30px !important;
    margin-top: 12vh;
    margin-left: 0.5%;
  }

  #next {
    font-size: 30px !important;
    margin-top: -28vh;
    margin-left: 88%;
  }

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
  }

  /* #circles{
        margin-top: -10vh;
        margin-left: 36%;
    } */
}

.plan {
  display: none;
}

/* ---------------SLIDESHOW TELEFONIA---------------- */
@media only screen and (max-width: 768px) {
  .plan {
    display: block;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    /* min-width: 260px; */
    height: 350px;
    margin: 20px;
  }

  .mobile-table {
    display: flex;
    border: 0;
    /* width: 100% */
    justify-content: center;
  }

  .mobile-table p {
    margin: 0;
    padding: 0;
  }

  .mobile-table tr, td {
    border: 0;
    padding: 5px;
  }

  .yellow {
    font-size: 20px;
    color: #F5A623;
    font-weight: border;
  }

  .yellow-left {
    /* font-size: 20px; */
    color: #F5A623;
    font-weight: bold;
    text-align: left;
  }

  #planes {
    display: flex;
    padding: 0px 10px;
    align-items: center;
  }

  #items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .items-inside {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .items-inside img {
    margin: 5px;
  }

  .items-inside p {
    margin: 0;
    padding: 0;
  }

  #price-plan {
    text-align: right;
    padding: 0px 10px;
  }

  #price-plan p {
    text-align: right;
    margin: 0;
    padding: 0;
  }

  .black {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .days {
    font-size: 15px;
    color: rgb(148, 148, 148);
    margin: 0;
    padding: 0;
  }

  .slideshow-container-telefonia {
    display: none;
    max-width: 100%;
    margin: auto;
  }

  .slideshow-container-marcas {
    display: none;
    max-width: 100%;
    margin: auto;
  }

  .general-icons-posibilities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    text-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .slideshow-container-telefonia {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  .slideshow-container-marcas {
    display: block;
    max-width: 100%;
    margin: auto;
    text-align: center;
  }

  /* .general-icons {
    display: none;
  } */
  .general-icons-posibilities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    text-align: center;
    align-items: baseline;
  }
}

/* Slideshow container */
.slideshow-container-first {
  display: none;
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlider {
  display: none;
  text-align: left;
  color: #4A4A4A;
}

.mySlider h3 {
  color: #4A4A4A;
  margin: 0;
  font-weight: 600;
  padding: 30px 30px 0px 30px;
}

.mySlider p {
  color: #4A4A4A;
  margin: 0;
  font-weight: 400;
  padding: 30px;
  font-size: 18px;
}

.mySlider img {
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -120px;
  padding: 16px;
  color: #993CBA;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  display: none;
  text-align: center;
  padding: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: ;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.dot:hover {
  background-color: #993CBA;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

.slideshow-container-marcas {
  display: none;
}

@media only screen and (max-width: 768px) {
  .slideshow-container-marcas {
    display: block;
  }

  .slideshow-container-first {
    display: block;
    position: relative;
    background: #f1f1f1f1;
  }

  .dot-container {
    display: block;
    text-align: center;
    padding: 10px;
  }
}

#telefonia-module-6 {
  margin: 50px 0px;
}



.swiper-container {
  display: none;
   width: 100%;
   height: 100%;
 }
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   /* padding: 10px; */
 }
 .swiper-slide #con-padding{
padding: 20px;
 }


@media only screen and (max-width: 768px) {
  .swiper-container {
    display: block;
     width: 100%;
     height: 100%;
   }
}
