body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.general {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: justify;
  padding: 20px 0px 20px 0px;
  font-weight: 100;
}

h1 {
  font-size: 40px;
  color: #993CBA;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 35px;
    color: #993CBA;
    font-weight: normal;
  }
}

h3 {
  color: #993CBA;
}

span {
  color: #993CBA;
  font-weight: bold;
}

header {
  position: sticky;
  display: flex;
  background: #ffffff;
  top: 0;
  max-width: 100%;
  height: auto;
  z-index: 1;
  margin: 0 auto;
  border-bottom: 2px solid #993CBA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.56);
}

@media only screen and (min-width: 768px) {
  header {
    position: sticky;
    display: block;
    background: #ffffff;
    top: 0;
    max-width: 100%;
    height: auto;
    z-index: 1;
    margin: 0 auto;
    border-bottom: 2px solid #993CBA;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.56);
  }
}

/* MENU MOBILE */
.container {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #993CBA;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* MOBILE */
@media only screen and (min-width: 768px) {
  .container {
    display: none;
    cursor: pointer;
    margin: 10px;
  }
}

/* TERMINA MENU MOBILE */
.social {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: flex-end;
  margin: 8px 0px 0px 0px;
  padding-right: 50px;
}

@media only screen and (max-width: 768px) {
  .social {
    display: none;
    /* width: 100%; */
    flex-direction: row;
    justify-content: flex-end;
    margin: 8px 0px 0px 0px;
    padding-right: 50px;
  }
}

#Siguenos {
  text-align: right;
  padding: 5px 5px 5px 0px;
  margin: 5px;
  color: #FF9E1A;
}

.icons-size {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.logo-menu {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  align-items: center;
  -webkit-align-items: center;
  /* width: 100%; */
  flex-direction: row;
  /* justify-content: flex-start; */
  color: #993CBA;
  padding-left: 50px;
  padding-right: 50px;
}

#logo {
  width: 10%;
  margin: 0;
  padding: 0px 10px 15px 0px;
}

@media only screen and (max-width: 768px) {
  #logo {
    width: 100%;
    margin: 0;
    padding: 5px 10px 5px 10px;
  }
}

#slogan {
  width: 100%;
}

#store-icons {
  position: fixed;
  display: inline-block;
  max-width: 100%;
  margin: 9% 50px 0px 0px;
  z-index: 1;
  top: 0;
  right: 0;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  #slogan {
    display: none;
    width: 100%;
  }

  #store-icons {
    position: fixed;
    display: none;
    max-width: 100%;
    margin: 7% 50px 0px 0px;
    z-index: 1;
    top: 0;
    right: 0;
    text-align: right;
  }
}

.small-icon {
  cursor: pointer;
}

/* Empieza el Menu y submenus */
.menu {
  display: flex;
  width: 100%;
  /* padding: 10px 0px 10px 0px; */
  font-size: 20px;
  text-align: right;
  text-align: -webkit-right;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
    width: 100%;
    /* padding: 10px 0px 10px 0px; */
    font-size: 20px;
    text-align: right;
    text-align: -webkit-right;
    list-style: none;
    flex-direction: row;
    justify-content: center;
  }
}

.menu ul {
  position: relative;
  display: flex;
  flex: auto;
  padding: 0;
  justify-content: flex-end;
}

.menu li {
  position: relative;
  display: flex;
  padding: 0px 20px;
}

.menu ul li ul {
  display: none;
  text-align: right;
  list-style: none;
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
}

.menu ul li:hover ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: right;
}

.submenu {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.67);
}

.submenu li {
  background: rgb(255, 255, 255);
  text-align: center;
  border-top: .02px solid #993CBA;
}

.submenu a {
  text-decoration: none;
  padding: 8px 0px 8px 0px;
  color: rgb(113, 113, 113);
}

#ultimate-li {
  padding: 0px 5px 0px 0px;
}

.point {
  font-weight: 900;
  /* padding: 0px 10px 0px 0px; */
}

.text-menu {
  /* padding: 0px 10px 0px 0px; */
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contacto {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Empieza primer modulo 1*/
.module-1 {
  display: flex;
  flex-direction: row;
  /* -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  margin: 11% 0% 0% 0%;
  justify-content: center;
  /* width: 100%; */
  align-content: center;
  padding: 0% 5%;
}

@media only screen and (max-width: 768px) {
  .module-1 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
  }
}

.left {
  padding: 0px 0px 0px 0px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .left {
    padding: 100px 0px 0px 0px;
    width: 100%:
  }
}

.general-button {
  background: #ffffff;
  font-size: 17px;
  font-weight: 600;
  border-radius: 20px;
  border: 1.5px solid #993CBA;
  /* border-color: #993CBA; */
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.26);
  padding: 20px 35px;
  margin: 5% 0%;
  color: #993CBA;
  cursor: pointer;
}

#button-desktop {
  display: block;
}

#button-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #button-mobile {
    display: block;
  }

  #button-desktop {
    display: none;
  }
}

.img-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#mobile {
  display: none;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 0px 0px;
}

#apple {
  padding: 0px 20px 0px 0px;
}

#icons-mobile {
  display: none;
  flex-wrap: wrap;
  padding: 50px 0px 0px 0px;
}

@media only screen and (max-width: 768px) {
  .img-right {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0px;
  }

  #desk {
    display: none;
  }

  #mobile {
    display: block;
  }

  #icons {
    display: none;
    flex-wrap: wrap;
    padding: 50px 0px 0px 0px;
  }

  #icons-mobile {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 0px 0px;
  }
}

.list-services {
  display: none;
}

@media only screen and (max-width: 768px) {
  .list-services {
    display: block;
    /* flex-direction: row; */

  }
  .list-elements {
    display: flex;
  }
  .list-elements img {
    display: flex;
    flex-wrap: wrap;
 width: 100%;
  }

  .list-elements p {
    display: flex;
    flex-wrap: wrap;
 width: 100%;
  }
}

/* EMPIEZA MODULO 2 */
.module-2 {
  background-image: url(/img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 90px 0px 0px 0px;
  flex-direction: column;
  color: white;
}

.content h1 {
  text-align: center;
  color: white;
}

.content p {
  text-align: center;
}

.general-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.products {
  display: flex;
  /* width: 10%; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 30px;
  margin: 20px 50px;
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .products {
    display: block;
    /* width: 10%; */
    margin: 0;
    padding: 0;
  }
}

.products p {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .module-2 {
    background-image: url(/img/font-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 90px 0px 0px 0px;
    flex-direction: column;
    color: white;
  }
}

/* EMPIEZA MODULO 3 */
.module-3 {
  display: flex;
  justify-content: flex-start;
  margin: 20px 150px 50px 150px;
  align-content: center;
}

.left-1 {
  padding: 20px 0px 0px 0px;
  width: 100%
}

.comercial-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  width: 100%;
}

.logotypes {
  padding: 3%;
}


@media only screen and (max-width: 768px) {
  .module-3 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
  }

  .comercial-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5% 5%;
    width: 100%;
  }
}

/* EMPIEZA MODULO 4 */
.module-4 {
  display: flex;
  justify-content: center;
  margin: 90px 0px 50px 0px;
  flex-direction: column;
}

.content-1 {
  background: #F6F6F6;
}

.content-1 h1 {
  text-align: center;
}

.content-1 p {
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .content-1 p {
    text-align: left;
    padding: 15px;
  }
}
/* SEGUNDA SECCION MODULO 4 GALERIA */
#gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex: 2;
}

#image-content-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#unique {
  width: 100%;
  height: 97.5%;
}

.image-content-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.slideshow-container  {
  display: none;
}


@media only screen and (max-width: 768px) {
  #gallery {
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex: 2;
  }


/* Comienza slider cuarto modulo */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: block;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
}

/* TERMINA CUARTO MODULO */

/* EMPIEZA SECCION 5 */
.module-5 {
  display: block;
  justify-content: center;
  margin: 90px 0px 0px 0px;
  flex-direction: column;
}

.left-justify {
  position: absolute;
  background: #FF9E1A;
  width: 50%;
  padding: 50px 0px 50px 100px;
  margin: 0px 0px 60px 0px;
}

.left-justify h1 {
  color: white;
}

.left-justify p {
  color: white;
}

.left-justify-1 {
  position: absolute;
  background: #993CBA;
  width: 50%;
  padding: 50px 0px 50px 100px;
  margin: 0px 0px 60px 0px;
  color: white;
}

.left-justify-1 h1 {
  color: white;
}


.content-slider-general {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}

.content-slider {
  background: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  width: 10%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 30px;
  margin: 60px 40px;
  z-index: 0;
}

.content-slider p {
  text-align: center;
}

.content-slider img {
  width: 50%;
  text-align: center;
}

.general-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: justify;
  padding: 20px 0px 20px 0px;
  font-weight: 100;
}



@media only screen and (max-width: 768px) {
  .module-5 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0% 0% 0%;
    justify-content: center;
    padding: 0% 0%;
  }
  /* .services {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
  } */

  .left-justify {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
    background: #FF9E1A;
    width: 100%;
    padding: 50px 10px 50px 10px;
    margin: 0px 0px 60px 0px;
  }


  .left-justify-1 {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
    background: #993CBA;
    width: 100%;
    padding: 50px 10px 50px 10px;
    margin: 0px 0px 60px 0px;

  }

  .content-slider {
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 30px;
    margin: 60px 40px;
    z-index: 0;
  }
}

/* EMPIEZA MODULO 6 */
.module-6 {
  display: flex;
  justify-content: flex-end;
  margin: 100px 150px 0px 150px;
}

.img-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .module-6 {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0% 0% 0%;
    justify-content: center;
    padding: 0% 5%;
  }
}


/* FOOTER */
footer {
  width: 100%;
}

.asociation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  flex: 1;
  margin: 50px 0px 10px 50px;
}

.asociation h4 {
  color: #9B9B9B;
}

.asociation img {

  /* width: 1%; */
  margin: 10px
}


.footer-about {
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background: #323232;
  color: #9B9B9B;
  justify-content: flex-start;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 110px;
  text-align: left;
}

#newslatter {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  padding: 10px 0px 20px 7px;
}

#subcribe-text {
  padding: 10px 4px;
}

#button-submit {
  display: inline-block;
  background: #993CBA;
  min-width: 20%;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  min-height: 42px;
}

#button-email {
  min-width: 100%;
  font-size: 20px;
  border: none;
  vertical-align: middle;
  min-height: 40px;
}

.footer-below {
  display: flex;
  flex-direction: column;
  background: #4A4A4A;
  color: #9B9B9B;
  font-size: 15px;
  text-align: center;
  padding: 20px 200px 20px 200px;
}

footer div p {
  padding: 20px 8px;
}

footer div pre {
  padding: 20px 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

#logo-white {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .asociation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    flex: 1;
    margin: 10px 0px 10px 10px;
  }

  .footer-about {
    display: block;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: #323232;
    color: #9B9B9B;
    justify-content: flex-start;
    text-align: left;
  }

  .footer-column {
    display: block;
    /* flex-direction: column;
    align-items: flex-start; */
    padding: 0px 10px;
    text-align: left;
  }
  footer div pre {
    padding: 0px 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  footer div p {
    padding: 10px 8px;
  }
  .footer-below {
    display: flex;
    flex-direction: column;
    background: #4A4A4A;
    color: #9B9B9B;
    font-size: 15px;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
#social-mobile {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: flex-end;
  margin: 8px 0px 0px 0px;
  padding-right: 50px;
}
#button-email {
  min-width: 80%;
  font-size: 20px;
  border: none;
  vertical-align: middle;
  min-height: 40px;
}

}

/* TERMINA FOOTER */
